*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #3A4548;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 6.5rem 1fr; }

.courses {
  /*
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: auto auto;
  */
  padding: 6rem 12rem;
  transition: all .3s ease-in-out;
  /*
  &__title {
    grid-column: 2 / 3;
  }

  &__cards {
    grid-area: 2 / 2 / 3 / 3;
  }
  */ }

.header {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) minmax(20rem, 50rem) 7rem 10rem;
  align-items: center;
  padding: 0 5rem;
  box-shadow: 1px 1px 5px #E9E9E9; }

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: #3A4548; }

.search {
  width: 80%;
  justify-self: center; }
  .search__input-container, .search__btn-container {
    position: relative; }
  .search__input {
    border: solid 1.5px #E9E9E9;
    border-radius: 10rem;
    width: 100%;
    padding: .8rem 1.5rem;
    font-size: 1.2rem; }
  .search__input:focus {
    outline: none;
    box-shadow: 1px 1px 5px #E9E9E9; }
  .search__input::placeholder {
    font-style: italic;
    color: #3A4548;
    opacity: .5; }
  .search__btn {
    background-color: #fff;
    border: none;
    border-radius: 100rem;
    position: absolute;
    right: .5rem;
    top: -2.7rem;
    z-index: 10; }
  .search__btn-img {
    width: 70%;
    opacity: 0.2; }

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .profile__img {
    width: 4.4rem;
    border-radius: 5rem;
    margin: 0; }
  .profile__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .profile__icon {
    width: 1.7rem;
    margin-top: 1px; }

.messages {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .messages__icon {
    margin-top: 5px;
    opacity: .7; }
  .messages__count {
    background-color: #51C7D6;
    color: #fff;
    text-align: center;
    border-radius: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -1rem;
    z-index: 10; }

.nav {
  background-color: #51C7D6;
  height: calc(100vh - 6.5rem);
  width: 22rem;
  position: relative;
  transition: all .3s ease-in-out; }
  .nav__list {
    list-style-type: none;
    padding: 5rem 0 0 5rem;
    transition: opacity .8s ease-in-out; }
  .nav__item {
    transition: all .2s; }
  .nav__item:hover {
    transform: translateX(-4px); }
  .nav__link {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem 0; }
  .nav__icon {
    width: 1.7rem;
    margin-bottom: -3px;
    margin-right: 5px; }
  .nav__toggle-btn {
    background: #51C7D6;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 2px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: -3.3rem; }
  .nav__toggle-btn:hover {
    opacity: 0.9; }
  .nav__toggle-icon {
    padding: 5px;
    width: 3.5rem;
    transition: all .3s ease-in-out; }

.nav-is-hidden.nav {
  width: 0; }

.nav-is-hidden .nav__list {
  transform: translateX(-22rem);
  opacity: 0; }

.rotate-icon {
  transform: rotate(180deg); }
