.courses {
  //background-color: lightblue;
  padding: 6rem 8rem;
  height: calc(100vh - 6.5rem);
  overflow-y: auto; // adding scroll bar for the courses
  transition: all .3s ease-in-out;

  &__title {
    font-size: 2.6rem;
  }

  &__cards {
    display: grid;
    grid-gap: 2rem;
  }

  &__card {
    background-color: grey;
    width: 30rem;
    height: 40rem;
  }
}