.nav {
  background-color: $color-primary;
  height: calc(100vh - 6.5rem); // Browser height - header height
  width: 22rem;
  position: relative;
  transition: width .3s ease-in-out;

  &__list {
    list-style-type: none;
    padding: 5rem 0 0 6rem;
    transition: opacity .8s ease-in-out;
  }

  &__item {
    transition: all .2s;
  }

  &__item:hover {
    transform: translateX(-4px);
  }

  &__link {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    display: inline-block;
    padding: 1.2rem 0;
  }

  &__icon {
    display: none;
    width: 1.7rem;
    margin-bottom: -3px;
    margin-right: 5px;
  }

  &__toggle-btn {
    background: $color-primary;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 2px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: -3.3rem;
  }

  &__toggle-btn:hover {
    opacity: 0.9;
  }

  &__toggle-icon {
    padding: 5px;
    width: 3.5rem;
    transition: transform .3s ease-in-out;
  }
}

// JS: Class to hide/show nav on toggle
.nav-is-hidden.nav {
  width: 0;
}

.nav-is-hidden .nav__list {
  transform: translateX(-22rem);
  opacity: 0;
}

// JS: Rotate icon on toggle
.rotate-icon {
  transform: rotate(180deg);
}